html {
  position:relative;
  min-height:100%;
  background-color:rgb(22, 22, 22);
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  width:100%;
  overflow:hidden auto;
}

body {
	max-width: 1000px;
	float: none;
	margin: auto;
	padding: 0px;
  color:white;
  height:100%;
  background-color: transparent;
}

@media only screen and (max-width:767px) {
  body {
    height:100%;
  }
}

	body, h1, h2 {
		font-family: "Cinzel";
    }
	body, h1 {
		font-size: 115px;
		text-align: center;
		font-weight: normal;
	}
	body, h2 {
		font-size: 42px;
		text-align: center;
		font-weight: normal;
	}
	body, h3, h4, h5, h6 {
		font-family: "Playfair Display", serif;
	}
  .title-home {
    letter-spacing: 12px;
    position:absolute;
    bottom:-0.7em;
    z-index:60;
    padding:4%;
    text-align:center;
    width:92%;
  }

      @media only screen and (max-width:767px) {
        .title-home h2 {
          font-size:0.8em;
        }
      }
      @media only screen and (max-width:767px) {
        .title-home h2 {
          font-size:0.8em;
          height:8vw;
        }
      }
      @media only screen and (max-width:667px) {
        .title-home {
          height:12vw;
          bottom:1vw;
        }
        .title-home h2 {
          font-size:0.6em;
          letter-spacing:3px;
        }
      }






header {
	width: 100%;
	display: block;
	font-family: "Gilroy Light";
	padding: 0px;
}
  .top-bar {
    min-width:100%;
    position:fixed;
    top: 0;
    left: 0;
    width:inherit;
    z-index: 1000;
    background-color: black;
    height: 96px;
    box-sizing:border-box;
  }
main {
	width: 100%;
	float: none;
	display: block;
	min-height: 720px;
}

p.copyright {
   position:absolute;
   width:100%;
   bottom:0;
   text-align:center;
   font-family: "Times New Roman";
   font-size: 12px;
   color: rgb(167, 167, 167);
}

#page-container {
  min-height:100%;
  min-width:100%;
  display: block;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
@media only screen and (max-width:767px) {
  #footer {
    position:fixed;
    bottom:0;
    max-width:100%;
  }
}
/* Menu CSS */
.topnav {
  background-color: black;
  height:80px;
  padding: 14px 5vw;
  overflow:none visible;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 17px;
  position:sticky;
  top:0;
  z-index:1000;
  width:90vw;
}





.navbar__container {
    display:flex;
    justify-content:space-between;
    height:80px;
    width:100%;
    max-width:1175px;
    overflow:visible;
}
@media screen and (max-width:1079px) {
  .navbar__container {
    display:none;
  }
  .topnav {
    display:grid;
    justify-content:right;
  }
}




/* Style the links inside the navigation bar */
.topnav div div button, div a, a {
  display: inline-flex;
  justify-content:space-between;  
  color: #f2f2f2;
  align-items: center;
  justify-content:center;
  padding: 0px 16px;
  text-decoration: none;
  height:100%;
}
.dropbtn {
  background-color:transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: "Gilroy Light";
  border: none;
  cursor: pointer;
  display:inline-flex;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
  color:#CE2351;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b1b1b;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color:transparent;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

.show {display: block;}

/* Change the color of links on hover */
.topnav .navbar__container a:hover {
  background-color: transparent;
  color: #CE2351;
}

/* Add an active class to highlight the current page */
.topnav .navbar__container a.active {
  background-color: transparent;
  color: #CE2351;
}





/* BURGER */


.topnav .burger {
  position:absolute;
  height:100%;
  top:0rem;
  right:1rem;
  flex-direction: column;
  justify-content: space-between;
  z-index:999;
}
.burger .fa {
  line-height: 40px;
  font-size: 40px;
}
.burgermenu ul {
  margin:0;
  padding:0;
  display:flex;
}
.burgermenu li {
  list-style:none;
}
.burgermenu li a {
  text-decoration:none;
  color:white;
  padding:1rem;
  display:block;
}
.burgermenu-content {
  top:2rem;
}

/* BURGER HOVER*/

.burgermenu li a:hover {
  color:#CE2351;
}

/* BURGER CONDITIONS*/


  .topnav .burger {
    display: none;
  }
  .burgermenu {
    display:none;
    position:absolute;
    top:0px;
    right:0px;
    height:1000%;
    z-index:998;
  }


@media (max-width:1079px) {
  .topnav .burger {
    display:flex;
  }
  .burgermenu {
    max-width:0.9vw;
    min-width:400px;
    min-height:100%;
    background-color:#1b1b1b;

  }
  .burgermenu ul {
    width:100%;
    flex-direction:column;
  }
  .burgermenu.active {
    display:flex;
  }
}

/*BURGER BUTTON*/

.burgermenu button {
  background-color: transparent;
  color:white;
  font-family: "Gilroy Light";
  border:none;
  font-size: 17px;
  padding:1rem;
  cursor:pointer;
  width:100%;
}
.burgermenu button:hover, .burgermenu button:focus {
  color:#CE2351;
}
.burger-ptfdrop {
  background-color: #333333;
  display:none;
}
.show-ptfcontent {display:block}




/*````````````````````````````````````````BANNER```````````````````*/

.banner {
  display:flex;
  position:absolute;
  left:0px;
  margin-top: 0px;
  height: 600px;
  top:96px;
  width:100%;
  box-sizing:border-box;
  overflow:auto;
  justify-content:center;
  align-items:center;
  background: linear-gradient(to left, rgb(22,22,22), black);
  overflow: hidden;
}
.banner-max {
  position:absolute;
  overflow:hidden;
  display:flex;
  max-width: 1440px;
  width:100%;
  justify-content:center;
  align-items:center;
  height: 110%;
  top: -40px;
}
  .homephoto {
    height:750px;
  }
  .kiltiemb {
    width:1130px;
  }
  .dci_1 {
    height:750px;
  }
  .dci_2 {
    height:650px;
  }
  .willgrad {
    height:750px;
  }
  .logoplain {
    position: absolute;
    left:0%;
    z-index:50;
  }


.slidertrack {
  width: 100%; 
  height:inherit;
  transform: translate3d(748px, 0px, 0px);
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
  display:contents;
  margin-left: auto;
  margin-right:auto;
}


.autoslider {
  position:absolute;
  display:flex;
  height:inherit;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index:20;
  -webkit-mask-image:-webkit-linear-gradient(linear, right, left, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
  overflow:scroll hidden;
  margin-left:45%;
}


              @media only screen and (max-width:1024px) {
                .banner {
                  height:60vw;
                }
                .banner-max {
                  display:grid;
                }
                .autoslider {
                  margin-left:25%;
                  display:grid;
                  
                }
                .autoslider img {
                  height:80vw;
                  width:auto;
                }
                .logoplain {
                  width:40vw;
                  top:10vw;
                  min-width:200px;
                  grid-column:1 / span 1;
                }
              }
              @media only screen and (max-width:767px) {
                .logoplain {
                  width:40vw;
                  top:10vw;
                  min-width:200px;
                }
                .autoslider {
                  margin-left:30vw;
                }
                .autoslider img {
                  height:70vw;
                  width:auto;
                }
                .slick-next {
                  display:none !important;
                }
                .slick-prev {
                  display:none !important;
                }
              }

              @media only screen and (max-width:500px) {
                .banner {
                  min-height:100vw;
                }
                .banner-max {
                  position:relative;
                  display:grid;
                  top:0;
                  grid-template-columns:minmax(autofit, 10rem);
                  grid-template-rows:55vw 80vw;
                  grid-template-areas:
                    ".logoplain .title-home"
                    ".autoslider .autoslider";
                  gap:0.4em;
                }
                .slidertrack {
                  display:contents;

                }
                .autoslider {
                  position:relative;
                  grid-column: span 2;
                  grid-row: 2 / span 1;
                  z-index:5;
                  height:inherit;
                  bottom:auto;
                  width:inherit;
                  margin-left:50vw;
                  -webkit-mask-image:-webkit-linear-gradient(linear, right, left, from(rgba(0, 0, 0, 0.582)), to(rgba(0,0,0,0)));
                  mask-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.171));
                }
                .logoplain {
                  position:relative;
                  top:0;
                  height:auto;
                  width:inherit;
                  grid-column:1 / span 1;
                  grid-row: 1 / span 1;
                  justify-self:start;
                  min-width:auto;
                }
                .title-home {
                  position:relative;
                  height:inherit;
                  width:100%;
                  bottom:auto;
                  margin-top:65%;
                  justify-content:center;
                  grid-column:2 / span 1;
                  grid-row:1 / span 1;
                  justify-self:end;
                  font-size:0.8em;
                }
                .autoslider img {
                  height:50vw;
                  width:auto;
                }
              }
              @media only screen and (max-width:355px) {
                .banner {
                  min-height:163vw;
                }
                .banner-max {
                  width:100%;
                  display:grid;
                  grid-template-columns:auto;
                  grid-template-rows:min-content min-content min-content;
                  grid-template-areas:
                    ".logoplain .logoplain"
                    ".title-home .title-home"
                    ".autoslider .autoslider";
                  gap:0.4em;
                }
                .logoplain {
                  grid-column: 1 / span 2;
                  grid-row: 1 / span 1;
                  min-width:stretch;
                  width:inherit;
                  height:auto;
                  justify-self:center;
                }
                .title-home {
                  grid-column: 1 / span 2;
                  grid-row: 2 / span 1;
                  width:inherit;
                  height:auto;
                  justify-self:start;
                  margin-top:0;
                  padding-top:0;
                }
                .autoslider {
                  grid-column:1 / span 2;
                  grid-row: 3 / span 1;
                  height:40vw;
                }
              }


.staff-grid {
  display:grid;
  position: relative;
  justify-content:space-evenly;
  top:-550px;
  grid: 80px 80px 80px 80px / auto;
  grid-gap:8px;
  background-color:white;
  padding:10px;
  z-index: 1;
  right:5%;
  grid-template-columns: 950px;
}
.staff-grid div {
  background-color:rgb(22, 22, 22);
  z-index: 1;
  padding: 20px 0;
  position:relative;
  left:center -30px;
  text-align:center;
}



/* Home about section*/
.aboutmain {
	width: 50%;
	float: right;
	display: block;
	min-height: 300px;
  max-height:550px;
  color: white;
  line-height:1.5;
  overflow:visible;
  box-shadow: 1px 1px 25px black;
  background-color:rgb(43, 43, 43);
  z-index:90;
  position:relative;
  top:730px;
}
	.aboutmain p {
		font-size: 18px;
		text-align: center;
		font-family: "Gilroy Light";
    margin:20px;
	}
	.aboutmain ul {
		font-size: 18px;
		text-align: left;
		font-family: "Gilroy Light";
    margin:20px;
	}

  @media only screen and (max-width:1023px) {
    .aboutmain {
      width:auto;
      min-height:40vw;
      max-height:66vw;
      margin-left:23vw;
      font-size:auto;
    }

  }


  /* Treble Clef */
  .trebleclef {
    width: 227px; 
    height: 646px; 
    object-fit: cover;
    background:transparent;
    transform: rotate(-4deg);
    z-index:90;
    position:relative;
  }

  @media only screen and (max-width:767px) {
    .trebleclefimg {
      display:none;
    }
    .aboutmain {
      width:95%;
      float:left;
      max-height:none;
      margin-left:0vw;
      margin-right:8vw;
      top:100vw;
    }
    .staff-grid {
      display:none;
    }
    .aboutmain p, .aboutmain ul {
      font-size:16px;
      text-align:left;
    }
  }
  @media only screen and (max-width:500px) {
    .aboutmain {
      width:100%;
      top:125vw;
      margin-right:0;
    }
  }
  @media only screen and (max-width:355px) {
    .aboutmain {
      font-size:1rem;
      top:190vw;
    }
  }




  /* Quotes */
  div .mainquote1 {
    animation-name:quote1move;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
  }
  .mainquote1 {
    position:absolute;
    display:content;
    background:transparent;
    left:35%;
    top:360px;
    z-index:100;
    text-align:left;
    font-family:"Playfair Display"

  }
    .mainquote1a {
      position:auto;
      display:block;
      font-size:28px;
      text-indent:40px;
    }
    .mainquote1b {
      position:relative;
      display:block;
      top:50px;
      text-indent:100px;
      font-size:30px;
    }
    .mainquote1c {
      position:relative;
      display:block;
      top:100px;
      font-size:18px;
      text-indent:160px;
    }
    @keyframes quote1move {
      0%   {left: 36%; color: transparent;}
      20%  {left: 36%; color: transparent;}
      100% {left: 35%; color:inherit;}
    }
    @media only screen and (max-width:1111px) {
      .mainquote1 {
        left:40%;
      }
      .mainquote1a {
        top:auto;
      }
      .mainquote1b {
        top:auto;
      }
      .mainquote1c {
        top:auto;
        margin-top:15px;
      }
      @keyframes quote1move {
        0%   {left: 41%; color: transparent;}
        20%  {left: 41%; color: transparent;}
        100% {left: 40%; color:inherit;}
      }


        
    }
    @media only screen and (max-width:1024px) {
      .mainquote1 {
        top:300px;
      }
      .mainquote1a {
        font-size:24px;
      }
      .mainquote1b {
        text-indent:50px;
        font-size:24px;
      }
      .mainquote1c {
        text-indent:100px;
        font-size:16px;
      }
    }




      @media only screen and (max-width:767px) {
      .mainquote1 {
        left:20%;
        top: 81vw;
      }
      .mainquote1a {
        font-size:0.5em;
        text-indent:0;
        top:auto;
      }
      
      .mainquote1b {
        font-size:0.5em;
        text-indent:50px;
        top:auto;
      }
      .mainquote1c {
        font-size:0.3em;
        margin-top:13px;
        top:0;
      }
      @keyframes quote1move {
        0%   {left: 22%; color: transparent;}
        10%  {left: 22%; color: transparent;}
        100% {left: 20%; color:inherit;}
      }
    }



    @media only screen and (max-width:500px) {
      .mainquote1 {
        left:7%;
      }
      .mainquote1a, .mainquote1b {
        font-size:0.5em;
        text-indent:0;
        top:auto;
      }
      .mainquote1c {
        font-size:0.3em;
        text-indent:30px;
        margin-top:13px;
        top:0;
      }
      @keyframes quote1move {
        0%   {left: 10%; color: transparent;}
        10%  {left: 10%; color: transparent;}
        100% {left: 8%; color:inherit;}
      }
    }



    @media only screen and (max-width:355px) {
      .mainquote1 {
        left:7%;
        top:160vw;
      }
      .mainquote1a, .mainquote1b {
        font-size:1rem;
        text-indent:0;
      }
      .mainquote1c {
        font-size:0.8rem;
        text-indent:30px;
        margin-top:13px;
      }
      @keyframes quote1move {
        0%   {left: 10%; color: transparent;}
        10%  {left: 10%; color: transparent;}
        100% {left: 8%; color:inherit;}
      }
    }




    /*--------------------------------MAIN STRIP WRAPPER-----------------------------------*/


.stripwrapper {
  display:grid;
  position:absolute;
  box-sizing:border-box;
  width:100%;
  top:1080px;
  left:0;
  right:0;
  margin-top: 100px;
  column-count:1;
  grid-template-columns:100%;
  grid-gap:0px;
  grid-template-rows:41rem 41rem 41rem 41rem;
  grid-template-areas:
  "ptfbg"
  "biobg"
  "videobg"
  "contactbg";
}

  @media only screen and (max-width:900px) {
    .stripwrapper {
      grid-template-rows: auto auto auto auto;
    }
  }
    @media only screen and (max-width:767px) {
      .stripwrapper {
        top:130vw;
      }
    }
      @media only screen and (max-width:530px) {
        .stripwrapper {
          top:150vw;
        }
      }
        @media only screen and (max-width:465px) {
          .stripwrapper {
            top:170vw;
          }
        }
          @media only screen and (max-width:355px) {
            .stripwrapper {
              top:270vw;
            }
          }




  /* Portfolio Strip */
.ptf-bg {
  grid-area:ptfbg;
  min-width: auto;
  position: relative;
  left: 0;
  top: 0px;
  width:100%;
  background-color: #1B0326;
  height: 657px;
  box-sizing: content-box;
  overflow: hidden;
  align-items:center;
  justify-content:center;
}
  .ptfcontainer {
    box-sizing:inherit;
    display: flex;
    max-width: 100%;
    align-self: flex-start;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    column-count: 5;
    height:100%;
    position:relative;
    width:inherit;
    row-gap: 20px;
  }
  .ptftext {
    top:50px;
    position:absolute;
    display:flex;
    box-sizing: inherit;
    max-width:100%;
  }
  .ptftext h3 i {
    color:white;
    font-weight:normal;
    font-size: 135px;
  }
      @media only screen and (max-width:1279px) {
        .ptftext h3 i {
          font-size:15vw;
          font-weight:normal;
        }
        .ptftext {
          margin-top:0px;
        }
      }
        @media only screen and (max-width:767px) {
          .ptf-bg {
            max-height:100vw;
          }
        }
          @media only screen and (max-width:355px) {
            .ptftext {
              top:0;
            }
          }



/* Buy Strip */
.bio-bg {
  grid-area:biobg;
  position: relative;
  left: 0px;
  height: 657px;
  top: auto;
  width:100%;
  background-color: #212121;
  box-sizing: content-box;
  overflow:hidden;
  align-items:center;
  justify-content:center;
}
  .biocontainer {
    box-sizing:inherit;
    display: flex;
    max-width: 100%;
    align-self: flex-start;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    height:100%;
    position:relative;
    width:inherit;
  }
  .biotext {
    width: 100%;
    height:100%;
    position:relative;
    box-sizing: inherit;
    margin-top:50px;
  }

    .biotext h3 i {
      width:100%;
      font-size:135px;
      font-weight: normal;
    }

      @media only screen and (max-width:1279px) {
        .biotext h3 i {
          font-size:15vw;
          font-weight:normal;
        }
        .biotext {
          margin-top:0px;
        }
      }
        @media only screen and (max-width:809px) {
          .bio-bg {
            height:100vw;
          }
        }
          @media only screen and (max-width:767px) {
            .bio-bg {
              max-height:100vw;
              top:auto;
              margin:0px;
            }
          }
  /* Videos Strip */
  .video-bg {
    grid-area:videobg;
    min-width: auto;
    position: relative;
    left: 0;
    top: auto;
    width:inherit;
    background-color: #010542;
    height: 657px;
    box-sizing: border-box;
    overflow: hidden;
    align-items:center;
    justify-content:center;
  }
    .videocontainer {
      box-sizing:inherit;
      position:relative;
      display: flex;
      max-width: 100%;
      align-self: flex-start;
      align-items: center;
      justify-content:center;
      flex-direction:column;
      height:100%;

    }
    .videotext {
      width: 100%;
      height:100%;
      position:relative;
      box-sizing: inherit;
    }
      .videotext h3 i {
        width: 100%;
        font-size:135px;
        font-weight: normal;
      }
          @media only screen and (max-width:1279px) {
            .videotext {
              margin-top:8vw;
            }
          }
            @media only screen and (max-width:809px) {
              .videotext h3 i {
                font-size:15vw;
                font-weight:normal;
              }
              .video-bg {
                height:100vw;
              }
            }
              @media only screen and (max-width:767px) {
                .video-bg {
                  max-height:100vw;
                }
              }



/* Contact Strip */
.contact-bg {
  grid-area:contactbg;
  min-width: auto;
  position: absolute;
  left: 0%;
  top: auto;
  width:inherit;
  background-image: linear-gradient(#32113b,#961e1e);
  height: 657px;
  box-sizing: border-box;
  display: flex;
  overflow: auto;
  align-items:center;
  justify-content:center;
}
  .contactcontainer {
    box-sizing:inherit;
    display: flex;
    max-width: none;
    align-self:center;
    align-items: center;
    justify-content:center;
    height:90px;
    position:relative;
  }
    @media only screen and (max-width:767px) {
      .contact-bg {
        max-height:100vw;
      }
    }



/*Buttons*/
.buttonbox-container {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:fit-content;
  margin-top:0px;
  margin-bottom:50px;
  position: absolute;
  align-self:center;
  box-sizing:border-box;
  bottom:40px;
}
  @media only screen and (max-width:1279px) { 
    .buttonbox-container {
      margin-bottom:0px;
    }
  }

.twobuttonbox {
  display:flex;
  position:absolute;
  justify-content:space-between;
  height:90px;
  align-items:center;
  box-sizing:border-box;
  min-width:900px;
  bottom:10vw;
}

  @media only screen and (max-width:1279px) {
    .twobuttonbox {
      bottom: 12vw;
    }
  }
    @media only screen and (max-width:1023px) {
      .twobuttonbox {
        min-width:auto;
        flex-direction:column;
        min-height:26vw;
        row-gap: 4vw;
        bottom:8vw;
      }
    }
      @media only screen and (max-width:833px) {
        .twobuttonbox {
          bottom: 10vw;
        }
      }
        @media only screen and (max-width:809px) {
          .twobuttonbox {
            bottom: 15vw;
          }
        }


.button {
  font-family: Cinzel;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  text-shadow: 0px 0px 7px #000000;
  display: inline-flex;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  bottom: 100px;
}
  .button i {
    color:transparent;
    display: inline-flex;
  }
  .button:hover i {
    color:white;
    animation: infinite;
    animation-duration: 1s;
    animation-name: slidein ;
  }
  .button div i {
    width: 100px;
    height: 100px;
  }
    @keyframes slidein {
      from {left: 0px;}
      to {left: 50px;}
    }

.ostbutton {
  background-image: linear-gradient(rgb(90, 0, 90),rgb(184, 17, 17)); 
  width:370px;
  height:100%;
  align-items:center;
  justify-content:center;
  box-shadow: 1px 1px 25px black;
  display:inline-flex;
}
  .ostbutton:hover {
    background-image: url(https://w0.peakpx.com/wallpaper/856/512/HD-wallpaper-headphones-colors-abstract-music.jpg);
    background-size: 140%,140%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
    box-shadow: 1px 1px 25px black;
  }
    @media only screen and (max-width:1279px) {
      .ostbutton {
        bottom: 50px;
        justify-self: start;
      }
    }
      @media only screen and (max-width:809px) {
        .ostbutton {
          height:18vw;
          width:60vw;
          bottom:10vw;
        }
      }



.bandbutton {
  background-image: linear-gradient(rgb(12, 12, 110),rgb(0, 80, 172)); 
  width: 370px;
  height: 100%;
  box-shadow: 1px 1px 25px black;
  display:inline-flex;
  align-items:center;
  justify-content:center;
}
  .bandbutton:hover {
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/close-up-of-a-classic-violin-isolated-nmaximova.jpg);
    background-size: 140%,140%;
    background-repeat: no-repeat;
    background-position: 50% 57%;
    color: white;
    box-shadow: 1px 1px 25px black;
  }
    @media only screen and (max-width:1279px) {
      .bandbutton {
        bottom: 50px;
        justify-self: end;
      }
    }
      @media only screen and (max-width:809px) {
        .bandbutton {
          height:18vw;
          width:60vw;
          bottom:10vw;
        }
      }



.biobutton {
		background-image: linear-gradient(black, gray);
		text-align: center;
		width: 370px;
    height:90px;
		box-shadow: 1px 1px 25px black;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    position:absolute;
	}

    @media only screen and (max-width:1279px) {
      .biobutton {
        bottom: 50px;
      }
    }
      @media only screen and (max-width:809px) {
        .biobutton {
          height:18vw;
          width:60vw;
          bottom:10vw;
        }
      }
	.biobutton:hover {
		background-image: url(https://images.pexels.com/photos/164821/pexels-photo-164821.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
		background-size: 140%,140%;
		background-repeat: no-repeat;
		background-position: 50% 57%;
		color: white;
		box-shadow: 1px 1px 25px black;
	}

  .videobutton {
		background-image: linear-gradient(rgb(89, 80, 218), rgb(35, 167, 134));
		text-align: center;
		width: 370px;
    height:90px;
		box-shadow: 1px 1px 25px black;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    bottom:0px;
	}
      @media only screen and (max-width:1279px) {
        .videobutton {
          bottom: 10vw;
        }
      }
        @media only screen and (max-width:809px) {
          .videobutton {
            height:18vw;
            width:60vw;
            bottom:10vw;
          }
        }
	.videobutton:hover {
		background-image: url(https://i.pinimg.com/564x/89/75/b0/8975b0011188e7754fff3f696b0ffcb8.jpg);
		background-size: 140%,140%;
		background-repeat: no-repeat;
		background-position: 50% 57%;
		color: white;
		box-shadow: 1px 1px 25px black;
	}

  .contactbutton {
    background-image: linear-gradient(#30157a,#451852);
    text-align:center;
    width: 470px;
		height: 150px;
    box-shadow: 1px 1px 25px black;
    display:inline-flex;
		font-size: 40px;
    align-items:center;
    justify-content:center;
    position: absolute;
    bottom:20%;
	}
    @media only screen and (max-width:809px) {
      .contactbutton {
        height:30vw;
        width:70vw;
        bottom:10vw;
        font-size:7vw;
      }
    }
      .contactbutton:hover {
        background-image: url(https://i.pinimg.com/originals/e3/3e/5d/e33e5de0c7c296a7072e9780fe1beaae.jpg);
        background-position: 50% 53%;
        background-size: 190%,190%;
      }
        .fa i {
          display:auto;
          align-self:center;
          justify-self:none;
        }
          @media only screen and (max-width:438px) {
            .button {
              font-size:1rem;
            }

    }

/* Contact Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.contact-page {
  position:absolute;
  height:100%;
  justify-items: center;
  align-items:center;
  width:100%;
  background-color: #1B0326;
  background-size:100%;
  box-sizing: border-box;
  display: grid;
  column-count: 1;
  row-gap: 0px;
  grid-template-areas: 
    "contact-title"
    "divider"
    "social-icons"
    "contact-container";
  margin-top: 100px;
  left:0px;
}
.contact-title {
  top:50px;
  position:absolute;
  box-sizing: inherit;
  align-self: center;
  justify-self: center;
}
.contact-title h2 {
  color:white;
  font-weight:normal;
  font-size: 115px;
}

.social-icons {
  position:absolute;
  grid-area:social-icons;
  box-sizing:content-box;
  padding:20px;
  bottom:2vw;
}

input[type=text], select, textarea {
  width:100%;
  padding: 12px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #444444;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c4c4c4;
}

/* Style the container/contact section */
.contact-container {
  grid-area:contact-container;
  box-sizing:content-box;
  position:absolute;
  top:-30%;
  min-width:60%;
  display:grid;
  border-radius: 5px;
  background-color: #f2f2f2;
  grid-template-columns: auto;
  padding: 10px;
  align-self:center;
  justify-self:center;
  max-width: 1px;
  color:black;
  font-size:24px;
  text-align:left;
}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
}

.column {
  float: left;
  width: 90%;
  margin-top: 6px;
  padding: 5%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    top:40vw;
    width: 96%;
    margin-top: 0;
    padding-left:2%;
    padding-right:2%;
  }
  input[type=submit] {
    width:100%;
  }
  textarea {
    width:96%;
    padding-left:2%;
    padding-right:2%;
  }
  input[type="text"] {
    width:96%;
    padding-left:2%;
    padding-right:2%;
  }
}
























/* Videos Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.videospage {
  position:absolute;
  height:100vmax;
  justify-items: center;
  align-items: center;
  width:100%;
  background-image:url(./myimages/20201019_155911.jpg);
  background-color:rgba(0, 0, 0, 0.459);
  background-blend-mode:saturation;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  box-sizing: border-box;
  display: grid;
  margin-top: 100px;
  left:0;
  grid-template-columns: auto;
}
.videostitle {
  top:50px;
  position:absolute;
  box-sizing: inherit;
  align-self: center;
  justify-self: center;
}
.videostitle h2 {
  color:white;
  font-weight:normal;
  font-size: 115px;
}
.divider {								/* minor cosmetics */
  position:absolute;
  top:250px;
  display: auto; 
  font-size: 24px; 
  text-align: center; 
  width: 75%; 						/* divider width */
  margin: 40px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 13px;							/* adjust vertical align */
  -moz-background-size: 100% 2px; 	/* line width */
  background-size: 100% 2px; 			/* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
  background-image: -webkit-linear-gradient(linear, 0 0, 0 100%, from(transparent), to(rgb(255, 255, 255)));
  background-image: -webkit-linear-gradient(180deg, transparent, rgb(255, 255, 255));
  background-image: -moz-linear-gradient(180deg, transparent, rgb(255, 255, 255));
  background-image: -o-linear-gradient(180deg, transparent, rgb(255, 255, 255));
  background-image: linear-gradient(90deg, transparent, rgb(255, 255, 255));
}
.divider span:nth-child(2) {
  color: rgba(0, 0, 0, 0); padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
  background-image: -webkit-linear-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 255)), to(transparent));
  background-image: -webkit-linear-gradient(180deg, rgb(255, 255, 255), transparent);
  background-image: -moz-linear-gradient(180deg, rgb(255, 255, 255), transparent);
  background-image: -o-linear-gradient(180deg, rgb(255, 255, 255), transparent);
  background-image: linear-gradient(90deg, rgb(255, 255, 255), transparent);
}
.video_box {
  position:absolute;
  top:400px;
  width: 100%;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(10rem, 40rem));
  justify-content:center;
  box-sizing:border-box;
}

.video_embed {
  padding:5px;
  max-width:100%;
  height:inherit;
  box-sizing:content-box;
}
.video_embed iframe {
  max-width:560px;
  width:100%;
  aspect-ratio: 16/9;
} 








/* OST page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.ostpage {
  position:absolute;
  height:100vmax;
  justify-items: center;
  align-items: center;
  width:100%;
  background-image:url(./myimages/pexels-mnm-zameer-3308588.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  box-sizing: border-box;
  display: grid;
  margin-top: 100px;
  left:0;
  grid-template-columns: auto;
}
.osttitle {
  top:50px;
  position:absolute;
  box-sizing: inherit;
  align-self: center;
  justify-self: center;
}
.osttitle h2 {
  color:white;
  font-weight:normal;
  font-size: 115px;
}
.ost_grid {
  position:absolute;
  top:400px;
  max-width: 100%;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(10rem, 40rem));
  grid-template-rows:repeat(auto-fit, minmax(10rem, 30rem));
  column-gap: 50px;
  row-gap: 50px;
  width:100%;
  height:fit-content;
  justify-content:center;
}
.ostsegment {
  position:relative;
  display:grid;
  grid-template-columns:inherit;
  grid-template-rows:fit-content min-content;
  justify-content:center;
}
.ost_embed {
  position:relative;
  min-width:200px;
}
a .sc-button {
  display:none;
}
















/* Band & Orchestra Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.bandpage {
  position:absolute;
  justify-items: center;
  align-items: center;
  width:100%;
  background-image:url(./myimages/pexels-eva-elijas-7605539.jpg);
  background-size:100%;
  background-repeat:repeat-y;
  height: 100vmax;
  box-sizing: border-box;
  display: grid;
  margin-top: 100px;
  left:0;
  grid-template-columns: auto;
}
.bandtitle {
  top:50px;
  position:absolute;
  box-sizing: inherit;
  align-self: center;
  justify-self: center;
}
.bandtitle h2 {
  color:white;
  font-weight:normal;
  font-size: 115px;
}












/* Bio Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/













.biopage {
  position:absolute;
  justify-items: center;
  align-items: center;
  width:100%;
  background-image:url(./myimages/pexels-eva-elijas-7605539.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:initial;
  height: 100vmax;
  box-sizing: border-box;
  display:grid;
  margin-top: 100px;
  left:0;
  top:0;
  grid-template-columns: auto;
}
.biotitle {
  top:10px;
  position:absolute;
  box-sizing: inherit;
  align-self: center;
  justify-self: center;
}
.biotitle h2 {
  color:white;
  font-weight:normal;
  font-size: 115px;
}

.biotitle h1 {
  color:white;
  font-weight:normal;
  font-size: 115px;
}

.biopage-wrap {
  position:absolute;
  top:620px;
  max-width: 80%;
  min-width: 80%;
  display:grid;
  grid-template-columns: 80% 20%;
  column-count: 2;
  left:10%;
  overflow:hidden;
}

.biocolumn-paragraph {
  position:auto;
  font-size: 18px;
  text-align: left;
  font-family: "Gilroy Light";
  margin:20px;
}

.biocolumn-pictures {
  display:grid;
  column-count: 1;
  max-width:100%;
  padding:0px 0px;
  box-sizing:border-box;
  width: 100%;
  overflow:hidden;
}
  .biopic1 {
    position:auto;
    display:block;
    max-width:inherit;
    padding:0px;
  }
  .biopic2 {
    position:auto;
    display:block;
    max-width:inherit;
    padding:0px;
  }
  .biopic3 {
    position:auto;
    display:block;
    max-width:inherit;
    padding:0px;
  }
  .biopic4 {
    position:auto;
    display:block;
    max-width:inherit;
    padding:0px;
  }
  .biopic5 {
    position:auto;
    display:block;
    max-width:inherit;
    padding:0px;
  }
  .biopic6 {
    position:auto;
    display:block;
    max-width:inherit;
    padding:0px;
  }


 /*All Pages Responsive Design*/


  @media only screen and (max-width:1023px) {
    .videostitle h2 {
      font-size:7vw;
    }
    .osttitle h2 {
      font-size:7vw;
    }
    .bandtitle h2 {
      font-size:7vw;
    }
    .biotitle {
      top:35px;
    }
    .biotitle h1, .biotitle h2 {
      position:relative;
      font-size:7vw;
    }
    .biopage-wrap {
      top:45vw;
      margin-top:70px;
      max-width:98%;
      left:1%;
    }
    

    .contact-title h2{
      font-size:7vw;
      position:static;
    }
    .contact-container {
      position:relative;
      font-size: 18px;
      max-width: 100%;
      top:0;
    }
    .social-icons {
      bottom:0;
      margin-top:30vw;
      position:relative;
      font-size:6vw;
    }
    .divider {
      top:15vw;
    }
    .ost_grid {
      top:30vw;
    }
    .ostsegment h3 {
      font-size: 7vw;
      padding-top:20px;
    }
    .video_box {
      top:40vw;
    }
  }
  @media only screen and (max-width:580px) {
    .biopage-wrap {
      column-count: 1;
      grid-template-columns: auto;
      grid-template-rows:auto auto;
      grid-template-areas: 
        "biocolumn-paragraph"
        "biocolumn-pictures";
    }
    .biocolumn-pictures {
      grid-area:biocolumn-pictures;
      position:relative;
      min-width:116px;
      max-height:min-content;
      display:grid;
      grid-template-areas: 
      "biopic1 biopic2 biopic3"
      "biopic4 biopic5 biopic6";
    }
    .biocolumn-pictures img {
      position:relative;
      max-width:100%;
    }
  }