
.competition-videos-grid {
    grid-area:videobox;
    position:relative;
    top:0;
    width: 100%;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(20vw, 40vw));
    justify-content:center;
    box-sizing:border-box;
    align-self:start;
  }


  @media only screen and (max-width:500px) {
    .competition-videos-grid {
      grid-template-columns: 100vw;
    }
    .ost_embed iframe {
      width:100%;
    }
  }